<link rel="stylesheet" type="text/css" href="/css/home/left-sidebar.css">

<div id="left-sidebar" class="col-md-4 col-sm-4 hidden-xs" ng-controller="LeftSidebarCtrl">
	<div class="left-sidebar-tags">
		<h3 class="semibold">Top Jobs</h3>
		<ul>
			<li ng-repeat="tag in LeftSidebarTags"><a href="/tag/{{ tag.name }}" ng-click="SearchByTag(tag.name,$event)">#<span ng-bind="tag.name"></span></a></li>
		</ul>
	</div>


	<div class="left-sidebar-tags">
		<h3 class="semibold">Top Companies</h3>
		<ul>
			<li ng-repeat="company in LeftSidebarCompanies"><a href="/user/{{ company._id }}" ng-click="ViewLeftSidebarCompany(company._id,$event)">@<span ng-bind="company.userName"></span></a></li>
		</ul>
	</div>

</div>