<html>
<head>
	<title>Job Pitch</title>
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
	<script type="text/javascript" src="bower_components/jquery/dist/jquery.min.js"></script>
	<script type="text/javascript" src="bower_components/angular/angular.min.js"></script>		
	<script type="text/javascript" src="bower_components/nightfury_bootstrap_36grid/js/bootstrap.min.js"></script>
	<script type="text/javascript" src="/js/global.js"></script>
	<script type="text/javascript" src="js/home/signup.js"></script>
	<link rel="stylesheet" type="text/css" href="bower_components/nightfury_bootstrap_36grid/css/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="bower_components/nightfury_bootstrap_36grid/css/bootstrap-theme.min.css">
	<link rel="stylesheet" type="text/css" href="/bower_components/fontawesome/css/font-awesome.min.css">
	<link rel="stylesheet" type="text/css" href="css/home/template.css">
	<link rel="stylesheet" type="text/css" href="css/home/login.css">
	<link rel="stylesheet" type="text/css" href="css/home/signup.css">
</head>
<body ng-app="SignupApp" ng-controller="SignupCtrl">
	<div id="login" ng-style="{{ LoginStyle }}">
		<div id="opacity" class="container-fluid">
			<div class="col-md-10 col-md-offset-13 col-sm-18 col-sm-offset-9 col-xs-36">
				<div id="login-form" class="col-md-36 col-sm-36 col-xs-36">
					<div id="forUser">
						<h3 class="text-center">For User</h3>
						<ul class="social">
							<li>
								<a href="/auth/facebook">
									<i class="fa fa-facebook"></i>
								</a>
							</li>
							<li>
								<a href="/auth/google">
									<i class="fa fa-google-plus"></i>
								</a>
							</li>
							<li>
								<a href="/auth/twitter">
									<i class="fa fa-twitter"></i>
								</a>
							</li>
							<li>
								<a href="/auth/linkedin">
									<i class="fa fa-linkedin"></i>
								</a>
							</li>
						</ul>
					</div> <!-- forUser -->
					<div id="forRecruiter">
						<h3 class="text-center">For Recruiter</h3>
						<div class="normal-login">
							<form ng-submit="Signup(email,password)" id="signupForm">
								<div class="form-group">
									<input type="text" id="username" ng-model="user.user_name" name="username" required placeholder="Username" maxlength="40">
								</div>
								<div class="form-group">
									<input type="email" id="email" ng-model="user.email" name="email" required placeholder="Email" maxlength="40">
								</div>
								<div class="form-group">
									<input type="password" id="password" ng-model="user.password" name="password" required placeholder="Password" maxlength="40">
								</div>
								<div class="form-group">
									<input type="submit" value="Sign Up">
								</div>
							</form>
						</div>
					</div> <!-- forRecruiter -->
					<div id="signup-forgot" class="col-md-36 col-sm-36 col-xs-36">
						<ul>
							<li>Have an account? <a href="/login">Login</a></li>
						</ul>
					</div> <!-- signup-forgot -->
				</div> 
			</div>
		</div>
	</div>
</body>
</html>
