

<div id="sidebar" class="col-md-12 col-sm-12 hidden-xs transition_500ms" ng-controller="ApplicationSideBarCtrl">
	<div ng-repeat="applicationSidebar in ApplicationsSidebar" class="sidebar-element transition_500ms">
		<div class="borderBottom">
			<div class="application-sidebar-applicant">
				<div class="application pull-left">
					<div class="application-sidebar-avatar">
						<img src="https://pbs.twimg.com/profile_images/522418773723074561/AyreX9yf_normal.jpeg">
					</div>	
				</div>
				<div class="application-sidebar-header">
					<p class="application-sidebar-name"><strong>Android</strong></p>
					<p class=" pull-left"><span class="application-sidebar-company-name gray-color">@Google</span></p>
				</div>
			</div>
			<div class="application-sidebar-body">
				<div class="application-sidebar-apply-content">
					<p class="pull-left"><strong>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</strong></p>
				</div>
				<div class="application-sidebar-like-share small-text">
					<ul>
						<li class="pull-left"><span>5</span> <span>interest</span></li>
						<li class="pull-right"><span>100</span> <span>share</span></li>
						<li class="pull-right"><span>200</span> <span>like</span></li>
						<li class="pull-right" ng-click="ShowApplicationSidebarComment(applicationSidebar)"><span>48 <span>comment</span></span></li>
					</ul>
				</div>
			</div>
		</div>
		<div class="application-sidebar-company-logo">
			<p class="small-text">Interested company</p>
			<ul>
				<li><img src="https://pbs.twimg.com/profile_images/498927400378318848/3hkPsMFk_normal.jpeg" alt=""></li>
				<li><img src="https://pbs.twimg.com/profile_images/188302352/nasalogo_twitter_bigger.jpg" alt=""></li>
				<li><img src="https://pbs.twimg.com/profile_images/2675282220/2fddf0955beb9b9d8f2d57eb988f4b2e_normal.jpeg" alt=""></li>
				<li><img src="https://pbs.twimg.com/profile_images/3513354941/24aaffa670e634a7da9a087bfa83abe6_bigger.png" alt=""></li>
				<li><img src="https://pbs.twimg.com/profile_images/529308402661339136/Yb0c2yz8_normal.png" alt=""></li>
				<li><img src="https://pbs.twimg.com/profile_images/531806988846370816/GEPB7aLh_normal.png" alt=""></li>
				<li><img src="https://pbs.twimg.com/profile_images/498927400378318848/3hkPsMFk_normal.jpeg" alt=""></li>
				<li><img src="https://pbs.twimg.com/profile_images/188302352/nasalogo_twitter_bigger.jpg" alt=""></li>
				<li><img src="https://pbs.twimg.com/profile_images/2675282220/2fddf0955beb9b9d8f2d57eb988f4b2e_normal.jpeg" alt=""></li>
				<li><img src="https://pbs.twimg.com/profile_images/3513354941/24aaffa670e634a7da9a087bfa83abe6_bigger.png" alt=""></li>
				<li><img src="https://pbs.twimg.com/profile_images/529308402661339136/Yb0c2yz8_normal.png" alt=""></li>
				<li><img src="https://pbs.twimg.com/profile_images/531806988846370816/GEPB7aLh_normal.png" alt=""></li>
			</ul>
			<p class="pull-right application-sidebar-company-view-more three-dot" ng-click="ApplicationSidebarViewAllCompany()" title="View All">
				<span></span>
				<span></span>
				<span></span>
			</p>
		</div>
		<div class="application-sidebar-comment animated fadeIn col-md-36 col-sm-36" ng-if="applicationSidebar.showSideBarComment == true">
			<div class="sidebar-cmt" ng-repeat="ApplicationSidebarComment in ApplicationSideBarComments">
				<div class="sidebar-comment-image pull-left">
					<img src="{{ ApplicationSidebarComment.avatar }}">
				</div>
				<div class="sidebar-comment-body">
					<p><strong class="blue-text" ng-bind="ApplicationSidebarComment.username"></strong> <span class="normal-text" ng-bind="ApplicationSidebarComment.comment"></span></p>
				</div>
			</div>
			<div class="application-sidebar-number-comment">
				<p class="text-right three-dot" ng-click="ApplicationSidebarViewMoreComment(5)">
					<span></span>
					<span></span>
					<span></span>
				</p>
			</div>
		</div>
	</div>
</div>