

<div id="sidebar" class="col-md-13 col-sm-13 hidden-xs transition_500ms" ng-controller="ApplicationSideBarCtrl">
	<div ng-repeat="applicationSidebar in ApplicationsSidebar" class="sidebar-element transition_500ms">
		<div>
			<div class="application pull-left">
				<div class="application-sidebar-avatar">
					<img src="https://pbs.twimg.com/profile_images/522418773723074561/AyreX9yf_normal.jpeg">
				</div>	
			</div>
			<div class="application-sidebar-body">
				<div class="application-sidebar-header">
					<p class="application-sidebar-name pull-left"><strong>Android</strong></p>
					<p class=" pull-left"><span class="application-sidebar-company-name">@Google</span></p>
				</div>
				<div class="application-sidebar-apply-content">
					<p class="pull-left"><strong>Tôi có thể làm đc nhiều hơn như thế (@.@)</strong></p>
				</div>
			</div>
		</div>

		<div class="application-sidebar-like-share">
			<ul class="pull-right">
				<li><span>100</span> <span>shares</span></li>
				<li><span>200</span> <span>likes</span></li>
			</ul>
		</div>
		<div class="application-sidebar-number-comment">
			<p ng-click="ApplicationSidebarViewMoreComment(5)">View 5 more comments</p>
		</div>
		<div class="application-sidebar-comment col-md-36 col-sm-36">
			<div class="sidebar-cmt" ng-repeat="ApplicationSidebarComment in ApplicationSideBarComments">
				<div class="sidebar-comment-image pull-left">
					<img src="{{ ApplicationSidebarComment.avatar }}">
				</div>
				<div class="sidebar-comment-body">
					<p><strong ng-bind="ApplicationSidebarComment.username"></strong> <span ng-bind="ApplicationSidebarComment.comment"></span></p>
				</div>
			</div>
		</div>
	</div>
</div>