<link rel="stylesheet" type="text/css" href="../css/home/jobs.css">
<div id="jobs" ng-controller="JobCtrl">
	<div class="container">
		<div class="col-md-18 col-sm-18 col-xs-36" id="jobs">
			<div class="col-md-36 col-sm-36 col-xs-18"ng-repeat="job in jobs">
				<div class="job">
					<div class="image">
						<img ng-src="{{ job.image }}">
					</div>
					<div class="job-content">
						<p class="company-title cp-title" ng-click="ViewCompanyProfile($event,1)" ng-bind="job.title"></p>
						<p class="job-sort-desc" ng-bind="job.shortDesc"></p>
					</div>
					<div class="like-share">
						<ul>
							<li class="pull-left" ng-click="ViewApplicant(job)"><span ng-bind="job.applications.number"></span> <span>pitch<span ng-if="job.applications.number > 1">s</span></span></li>
							
							<li class="pull-right"><span ng-bind="job.shares.number"></span> <span>share<span ng-if="job.shares.number > 1">s</span></span></li>
							<li class="pull-right"><span ng-bind="job.likes.number"></span> <span>like<span ng-if="job.likes.number > 1">s</span></span></li>
							<li class="pull-right" ng-click="ShareJobOnFacebook(job)"><i class="fa fa-facebook"></i></li>
							<li class="pull-right"><i class="fa fa-google-plus"></i></li>
							<li class="pull-right"><i class="fa fa-twitter"></i></li>
							<li class="pull-right"><i class="fa fa-linkedin"></i></li>
						</ul>
					</div>
					<!-- APPLY BOX -->
					<div class="job-comment apply-box row" ng-if="job.showApplyBox == true">
						<div class="job-comment-avatar apply-box-avatar pull-left">
							<img ng-src="{{ user.avatar.normal }}" alt="">
						</div>
						<div class="job-comment-body">
							<div class="job-comment-body-textarea-group">
								<textarea maxlength="144" ng-model="ApplyDesc" id="ApplyDesc" ng-keyup="ChangeApplyTextAreaHeight($event)" ng-change="ApplyTextAreaChange(ApplyDesc)" placeholder="Your pitch"></textarea>
							</div>
							<ul class="apply-box-info pull-left">
								<li>
									<span class="pull-right attack-file"  onclick="document.getElementById('attack-input').click();return;"></span>
								</li>
								<li>
									<span class="pull-left"><i class="fa fa-file-text-o"></i> {{ ApplyDescWordCount }}/144</span>
								</li>
							</ul>
							<input id="attack-input" type="file" class="hidden">
							<div class="apply-button-group">
								<div class="btn-apply" ng-click="Apply(job,ApplyTitle,ApplyDesc)">Apply</div>
							</div>
						</div>
					</div>
					<!-- APPLY BOX -->
					<!-- APPLICANT -->
					<div class="job-comment row animated fadeIn" ng-repeat="Application in job.applications.loadFromSever">
						<div class="job-comment-avatar pull-left">
							<img ng-src="{{ Application.user_avatar }}" alt="">
						</div>
						<div class="job-comment-body">
							<p class="job-comment-desc"><span><strong ng-bind="Application.user_name"></strong></span> <span ng-bind="Application.description"></span></p>
							<ul>
								<li class="cursor"><span>Like</span></li>
								<li class="cursor"><span>Reply</span></li>
							</ul>
							<div class="job-reply-pitch">
								<div class="job-reply-pitch-image pull-left">
									<!-- <img ng-src="{{user.avatar_small }}"> -->
									<img src="https://fbcdn-profile-a.akamaihd.net/hprofile-ak-xfp1/v/t1.0-1/c0.0.160.160/p160x160/1394789_576403985759899_2014020168_n.jpg?oh=e009eea131bd6cd4929f118f78efe467&oe=556D0D5B&__gda__=1432873081_fe5509aa71fdd77113731b3b8b9972d9" alt="">
								</div>
								<div class="job-reply-pitch-textarea">
									<textarea placeholder="Write a reply" ng-model="PitchReply" ng-keyup="PostPitchReply(PitchReply,Application,$event)"></textarea>
								</div>
							</div>
						</div>
					</div>
					<!-- APPLICANT -->
				</div><!-- job -->
			</div> <!-- col-28 -->
		</div>
		<application-sidebar></application-sidebar>
		<left-sidebar></left-sidebar>


	
	</div>
</div>