<link rel="stylesheet" type="text/css" href="../css/home/jobs.css">
<div id="jobs" ng-controller="JobCtrl">
	<div class="container">
		<div class="col-md-18 col-sm-18 col-xs-36" id="jobs">
			<div class="col-md-36 col-sm-36 col-xs-18"ng-repeat="job in jobs">
				<div class="job">
					<div class="image">
						<img ng-src="{{ job.image }}">
					</div>
					<div class="job-content">
						<p class="company-title cp-title" ng-click="ViewCompanyProfile($event,1)" ng-bind="job.title"></p>
						<p class="job-sort-desc" ng-bind="job.description"></p>
					</div>
					<div class="like-share">
						<ul>
							<li class="pull-left" ng-click="ViewApplicant(job)"><span ng-bind="job.applications.number"></span> <span>pitch<span ng-if="job.applications.number > 1">s</span></span></li>
							
							<li class="pull-right"><span ng-bind="job.shares.number"></span> <span>share</span></li>
							<li class="pull-right"><span ng-bind="job.likes.number"></span> <span ng-click="LikeJob(job)">like</span></li>
							<li class="pull-right" ng-click="ShareJobOnFacebook(job)"><i class="fa fa-facebook"></i></li>
							<li class="pull-right"><a target="_blank" href="https://plus.google.com/share?url=campcoders.com"><i class="fa fa-google-plus"></i></a></li>
							<li class="pull-right"><a target="_blank" class="twitter-share-button" href="https://twitter.com/share"><i class="fa fa-twitter"></i></a></li>
							<li class="pull-right"><a target="_blank" href="http://www.linkedin.com/shareArticle?mini=true&url=campcoders.com&title={{ job.title }}&source=campcoders.com"><i class="fa fa-linkedin"></i></a></li>
						</ul>
					</div>
					<!-- APPLY BOX -->
					<div class="job-comment apply-box row" ng-if="job.showApplyBox == true">
						<div class="job-comment-avatar apply-box-avatar pull-left">
							<img ng-src="{{ user.avatar.normal }}" alt="">
						</div>
						<div class="job-comment-body">
							<div class="job-comment-body-textarea-group">
								<textarea maxlength="144" ng-model="ApplyDesc" id="ApplyDesc" ng-keyup="ChangeApplyTextAreaHeight($event)" ng-change="ApplyTextAreaChange(ApplyDesc)" placeholder="Your pitch"></textarea>
							</div>
							<ul class="apply-box-info pull-left">
								<li>
									<span class="pull-right attack-file"  onclick="document.getElementById('attack-input').click();return;"></span>
								</li>
								<li>
									<span class="pull-left"><i class="fa fa-file-text-o"></i> {{ ApplyDescWordCount }}/144</span>
								</li>
							</ul>
							<input id="attack-input" type="file" class="hidden">
							<div class="apply-button-group">
								<div class="btn-apply" ng-click="Apply(job,ApplyTitle,ApplyDesc)">Apply</div>
							</div>
						</div>
					</div>
					<!-- APPLY BOX -->
					<!-- APPLICANT -->
					<div class="job-comment row animated fadeIn" ng-repeat="pitch in job.applications.loadFromSever">
						<div class="job-comment-avatar pull-left">
							<img ng-src="{{ pitch.user_avatar }}" alt="">
						</div>
						<div class="job-comment-body">
							<p class="job-comment-desc"><span><strong ng-bind="pitch.user_name"></strong></span> <span ng-bind="pitch.description"></span></p>
							<ul>
								<li class="cursor pull-left"><span>5</span> <span>interest</span></li>
								<li class="cursor pull-left"><span ng-bind="pitch.likes.number"></span> <span ng-click="LikePitch(pitch,job)">like</span></li>
								<li class="cursor pull-left"><span ng-bind="pitch.shares.number"></span> <span>share</span></li>
							</ul>
							<div class="job-reply-pitch">
								<div class="job-reply-pitch-image pull-left">
									<img ng-src="{{user.avatar.normal }}">
									<!-- <img src="https://fbcdn-profile-a.akamaihd.net/hprofile-ak-xfp1/v/t1.0-1/c0.0.160.160/p160x160/1394789_576403985759899_2014020168_n.jpg?oh=e009eea131bd6cd4929f118f78efe467&oe=556D0D5B&__gda__=1432873081_fe5509aa71fdd77113731b3b8b9972d9" alt=""> -->
								</div>
								<div class="job-reply-pitch-textarea">
									<textarea placeholder="Write a reply" ng-model="PitchReply" ng-keyup="PostPitchReply(PitchReply,pitch,$event)"></textarea>
								</div>
							</div>
						</div>
					</div>
					<!-- APPLICANT -->
				</div><!-- job -->
			</div> <!-- col-28 -->
		</div>
		<application-sidebar></application-sidebar>
		<left-sidebar></left-sidebar>


	
	</div>
</div>