<link rel="stylesheet" type="text/css" href="../css/home/profile.css">

<div id="profile" ng-controller="SettingCtrl">
	<div class="container">
		<div class="edit-profile col-md-18 col-md-offset-9 col-sm-24 col-sm-offset-6 col-xs-36">
			<div class="row col-md-36">
				<div class="col-md-16 col-sm-18 col-xs-36">
					<h1 class="pull-left">My Profile</h1><span class="glyphicon glyphicon-edit" ng-click="EditProfile()"></span>
				</div>
				<div class="col-md-20 col-sm-18 col-xs-36">
					<div class="pull-right profile-image">
						<img src="http://img1.wikia.nocookie.net/__cb20100502232308/adventuretimewithfinnandjake/images/e/e4/At_100x100_iconjake.jpg" alt="">
					</div>
				</div>
			</div>
			<div class="row col-md-36">
				<div class="col-md-16 col-sm-18 col-xs-36">
					<p>Company name</p>
				</div>
				<div class="editable col-md-20 col-sm-18 col-xs-36">
					<p>Campcoders</p>
				</div>
			</div>
			<div class="row col-md-36">
				<div class="col-md-16 col-sm-18 col-xs-36">
					<p>Company name</p>
				</div>
				<div class="editable col-md-20 col-sm-18 col-xs-36">
					<p>Campcoders</p>
				</div>
			</div>
			<div class="row col-md-36">
				<div class="col-md-16 col-sm-18 col-xs-36">
					<p>Address</p>
				</div>
				<div class="editable col-md-20 col-sm-18 col-xs-36">
					<p>Phương Mai, Hà Nội</p>
				</div>
			</div>
			<div class="row col-md-36">
				<div class="col-md-16 col-sm-18 col-xs-36">
					<p>Website</p>
				</div>
				<div class="editable col-md-20 col-sm-18 col-xs-36">
					<p>Http://campcoders.com</p>
				</div>
			</div>
			<div class="row col-md-36">
				<div class="col-md-16 col-sm-18 col-xs-36">
					<p>Contact</p>
				</div>
				<div class="editable col-md-20 col-sm-18 col-xs-36">
					<p>campcoders@gmail.com</p>
				</div>
			</div>

		</div>
	</div> <!-- container -->
</div>