<link rel="stylesheet" type="text/css" href="../css/home/tag-list.css">

<div id="tag-list">
	<div class="container">
		<div class="tags">
			<ul>
				<li><a href="">NodeJS</a></li>
				<li><a href="">PHP</a></li>
				<li><a href="">Marketing</a></li>
				<li><a href="">CEO</a></li>
				<li><a href="">PG</a></li>
				<li><a href="">Laravel</a></li>
			</ul>
		</div>
	</div>
</div>