#sidebar{
	margin-top: 20px;
	color: #292f33;
	font-size: 13px;
	line-height: 18px;
	border-radius: 4px;
	overflow: auto;
}
#sidebar::scrollbar{
	width: 2px;
}
#sidebar::-webkit-scrollbar{
	width: 2px;
}
.sidebar-element{
	overflow: auto;
	margin-bottom: 15px;
	background: #fff;
	padding: 5px 10px;
	border-radius: 4px;
}
.application-sidebar-avatar img{
	width: 48px;
	height: 48px;
	margin-right: 5px;
}
.application-sidebar-body{
	overflow: hidden;
	width: auto;
}
.application-sidebar-name{
	font-size: 13px;
	text-shadow: none;
	cursor: pointer;
}
.application-sidebar-name:hover{
	text-decoration: underline;
}
.application-sidebar-company-name{
	color: #8899a6;
	cursor: pointer;
}
.application-sidebar-company-name:hover{
	text-decoration: underline;
}
.application-sidebar-header > p:first-child{
	margin-right: 20px; 
}
.application-sidebar-apply-content > p:first-child{
	color: #333;
}
.application-sidebar-like-share ul{
	padding: 0px;
	text-align: right;
	width: 100%;
}
.application-sidebar-like-share ul li{
	font-size: 12px;
	cursor: pointer;
	margin-left: 10px;
	color: #8899a6;
}
.borderBottom{
	border-bottom: 1px solid #ddd;
	margin-bottom: 15px;
}
.application-sidebar-like-share ul li:hover{
	text-decoration: underline;
}
.application-sidebar-comment{
	width: 100%;
}
.application-sidebar-number-comment{
	color: #3b5998;
}
.application-sidebar-number-comment p{
	margin-top: 5px;
	color: #8899a6;
	font-size: 12px;
}
.application-sidebar-number-comment p:hover{
	text-decoration: underline;
	cursor: pointer;
}
.sidebar-cmt{
	overflow: auto;
	margin-bottom: 5px;
	transition: all 0.5s;
	-webkit-transition: all 0.5s;
}
.sidebar-comment-image img{
	width: 40px;
	height: 40px;
	margin-right: 5px;
}
.sidebar-comment-body{
	overflow: auto;
	color: #333;
}
.sidebar-comment-body p strong{
	color: #3b5998
}
.application-sidebar-company-logo{
	margin-bottom: 10px;
	padding: 0px 10px;
}
.application-sidebar-company-logo li img{
	width: 30px;
	height: 30px;
	margin-right: 5px;
	cursor: pointer;
}
.application-sidebar-company-logo p{
	color: #8899a6;
	margin-top: 15px;
	cursor: pointer;
}