
#company-profile{
	margin-top: 60px;
	margin-bottom: 10px;
	overflow: hidden;
}
#company-profile .cover-image{
	overflow: auto;
}

#company-profile .cover-image > img{
	width: 100%;
	border-top-left-radius: 8px;
	border-top-right-radius: 8px;
}
#company-profile .cover-menu{
	height: 40px;
	background: #fff;
	width: 100%;
}
#company-profile .cover-menu ul li a{
	line-height: 40px;
	color: #aba;
	font-size: 19px;
	text-decoration: none;
}
#company-profile .cover-menu ul li a span{
	font-size: 14px;
	margin-left: 5px;
	font-family: 'Proxima Nova';
}
#company-profile .cover-menu ul{
	width: 100%;
	text-align: center;
}
#company-profile .cover-menu ul li{
	margin: 0px 20px;
}
#company-profile .cover{
	height: auto;
	position: relative;
}
.company-avatar{
	position: absolute;
	bottom: 20px;
	left: 30px;
	background: #eee;
}
.company-avatar > img{
	border: 3px solid #fff;
	width: 140px;
	height: 140px;
}
.followed-true{
	color: #2dbea1;
}
.company-job-bg{
	background: #fff;
	padding: 0px;
}
.company-job{
	padding-top: 0px!important;
	padding-bottom: 10px!important;
	border-bottom: 1px solid #eee;
}
.company-job-bg > div:last-child .company-job{
	border: none;
}
.company-job .image{
	margin-bottom: 20px;
	overflow: auto;
}
.company-job-comment{
	padding: 5px 15px 5px 40px;
	margin: 0px;
}
.company-job .like-share ul{
	padding: 0px 10px;
}
.company-job .job-content{
	margin-top: 15px;
	padding: 0px 10px;
}
.cp-about > div{
	padding: 20px 30px;
}
.company-job-image img{
	width: 100%;
}
.edit-cover{
	position: absolute;
	z-index: 1;
	top: 10;
	right: 10;
}
.edit-cover img{
	width: 30px!important;
	height: 30px!important;
	cursor: pointer;
}
