#header .navbar{
	background: #2dbea1;
	border: none;
	border-radius: 0px;
	font-size: 13px;
}
.navbar-nav > li  > a{
	color: #fff!important;
}
.navbar-nav > li > img{
	max-width: 35px;
	max-height: 35px;
	border-radius: 100%;
	margin-top: 7px;
}
#navbar-left ul li{
	font-size: 16px;
	position: relative;
}
#navbar-left ul li > .notification-icon{
	font-weight: bolder;
	position: absolute;
	background: #0084B4;
	border-radius: 3px;
	box-shadow: 0 0 5px #898989;
	padding: 2px 5px;
	font-size: 11px;
	color: #fafafa;
	top: 2px;
	right: 0px;
}
.notification-box{
	position: absolute;
	z-index: 15;
	max-height: 400px;
	overflow: hidden;
	border-radius: 4px;
}
.notification-box::scrollbar{
	display: none;
}
.notification-box::-webkit-scrollbar{
	display: none;
}
.notification-box ul{
	background: #fff;
	border-radius: 4px;
	box-shadow: 0 0 5px #333;
	overflow: auto;
}
.notification-box ul li{
	width: 300px;
	font-size: 13px!important;
	margin-top: 5px;
	padding: 3px 5px;
}
.notification-box ul::before{
	display: block;
	content: '';
	border: 10px solid transparent;
	border-bottom: 10px solid #fff;
	width: 0px;
	height: 0px;
	margin-top: -20px;
	margin-left: 12px;
}
.notification-box ul li:hover{
	background: #eee;
}
.notification-box ul li span:first-child strong{
	color: #3b5998;
}
.notification-box ul li .notification-box-image img{
	width: 40px;
	height: 40px;
	margin-right: 5px;
}
.chat-notification p{
	margin: 0px;
}
.chat-sort-text{
	font-size: 11px;
	color: #8899a6;
}
.navbar-left .form-group input[type="text"]{
	border: none;
	box-shadow: none;
	height: 28px;
	width: 100%;
	margin-left: 20px;
	margin-top: 3px;
	font-size: 13px;
}
.navbar-left .form-group .glyphicon-search{
	right: -25px;
	color: #8899a6;
}
.navbar-left .fa, .navbar-brand .fa{
	color: #fef!important;
	font-size: 18px;
	text-shadow: 0px 0px 5px #444;
}
.navbar-brand .fa{
	font-size: 22px;
	margin-top: -3px;
}
.notification-box a{
	text-decoration: none;
}
.notification-box a span, .notification-box-body a strong{
	color: #333;
}
.current_location{
	font-size: 13px;
	color: #fafafa;
	margin-left: 15px;
	cursor: pointer;
	margin-right: 0px;
}
.switch-to-current-location{
	font-size: 13px;
	color: #fafafa;
	margin-left: 0px!important;
	padding-left: 0px!important;
	cursor: pointer;
}
.pac-container{
	z-index: 99999;
}
.pac-container::after{
	display: none!important;
}
.change-location-input{
	border: none;
	background: transparent;
}
.change-location-input:focus{
	outline: none;
}
.change-location-input::-webkit-input-placeholder { /* WebKit browsers */
    color: #fafafa;
    opacity: 0.5;
}
.change-location-input:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
   color: #fafafa;
   opacity: 0.5;
}
.change-location-input::-moz-placeholder { /* Mozilla Firefox 19+ */
   color: #fafafa;
   opacity: 0.5;
}
.change-location-input:-ms-input-placeholder { /* Internet Explorer 10+ */
   color: #fafafa;
   opacity: 0.5;
}
.current_location{
	max-height: 50px!important;
}
/*********************************************************************************/
									/*SUGGESTION*/
/*********************************************************************************/
#search-suggest{
	position: absolute;
	margin-left: 20px;
	color: #333;
	background: #fff;
	border-radius: 3px;
	width: 230px;
	margin-top: 1px;
}
#search-suggest p {
	margin-bottom: 0px;
}
#search-suggest ul, #search-suggest ul li{
	width: 100%;
}
#search-suggest ul li{
	padding: 0px 5px;
	cursor: pointer;
}
#search-suggest .suggest-title{
	background: #F6F7F8;
	border-top-left-radius: 3px;
	border-top-right-radius: 3px;
	border-bottom: 1px solid #eee;
}
#search-suggest .suggest-title p{
	font-size: 11px;
	font-weight: bold;
	line-height: 23px;
	color: #9197a3;
}
#search-suggest .suggest-data p{
	font-size: 14px;
	color: #333;
	line-height: 30px;
}
#search-suggest .suggestion_active{
	background: #F6F7F8;
}
#search-suggest .suggest-data a:hover{
	text-decoration: none;
}