#header .navbar{
	background: #2dbea1;
	border: none;
	border-radius: 0px;
	font-size: 13px;
}
.navbar-default .navbar-brand{
	color: #fafafa!important;
}
.navbar-nav > li  > a{
	color: #fff!important;
}
.navbar-nav > li > img{
	max-width: 35px;
	max-height: 35px;
	border-radius: 100%;
	margin-top: 7px;
}
#navbar-left ul li{
	font-size: 16px;
	position: relative;
}
#navbar-left ul li > .notification-icon{
	position: absolute;
	background: #e74c3c;
	border-radius: 3px;
	box-shadow: 0 0 5px #333;
	padding: 2px 5px;
	font-size: 11px;
	color: #fafafa;
	top: 2px;
	right: 0px;
}
.notification-box{
	position: absolute;
	z-index: 15;
	max-height: 400px;
	overflow-y: scroll;
}
.notification-box ul{
	background: #fff;
	border-radius: 4px;
	box-shadow: 0 0 5px #333;
	overflow: auto;
}
.notification-box ul li{
	width: 300px;
	font-size: 13px!important;
	margin-top: 5px;
	padding: 3px 5px;
}
.notification-box ul::before{
	display: block;
	content: '';
	border: 10px solid transparent;
	border-bottom: 10px solid #fff;
	width: 0px;
	height: 0px;
	margin-top: -20px;
	margin-left: 12px;
}
.notification-box ul li:hover{
	background: #eee;
}
.notification-box ul li span:first-child strong{
	color: #3b5998;
}
.notification-box ul li .notification-box-image img{
	width: 40px;
	height: 40px;
	margin-right: 5px;
}
.chat-notification p{
	margin: 0px;
}
.chat-sort-text{
	font-size: 11px;
	color: #8899a6;
}
.navbar-left .form-group input[type="text"]{
	border: none;
	box-shadow: none;
	height: 28px;
	width: 100%;
	margin-left: 20px;
	margin-top: 3px;
	font-size: 13px;
}
.navbar-left .form-group .glyphicon-search{
	right: -25px;
	color: #8899a6;
}