
#jobs{
	margin-top: 20px;
}
.job{
	background: #fff;
	border-radius: 4px;
	box-shadow: 0 0 1px #ddd;
	margin-bottom: 20px;
	border-radius: 4px;
}
#jobs {
	padding: 0px;
}
.job .job-content{
	padding: 10px 15px 10px 15px;
	overflow: auto;
}
.job .image{
	width: 100%;
	overflow: auto;
}
.job .image img{
	width: 100%;
	height: auto;
	border-top-left-radius: 4px;
	border-top-right-radius: 4px;
}
.company-title{
	/*font-family: 'Proxima Nova Bold';*/
	font-family: arial;
	font-weight: bold;
}
.like-share ul, .job-social ul{
	list-style: none;
	display: inline-block;
	padding: 0px;
}
.like-share ul{
	width: 100%;
	padding: 0px 12px;
	margin-top: 15px;
}
.like-share ul li , .job-social ul li{
	display: inline-block;
	margin-left: 10px;
	font-size: 12px;
	cursor: pointer;
	color: #8899a6;
}
.like-share ul li:first-child{
	margin-left: 0px;
}
.job-comment{
	padding: 0px 20px;
	font-size: 13px;
}
.job-comment-body{
	overflow: hidden;
}
.apply-box-avatar{
	margin-top: 2px;
}
.job-comment-avatar{
	margin-right: 5px;
}
.job-comment-avatar img{
	width: 40px;
}
.job-comment-desc span strong{
	color: #3b5998;
	cursor: pointer;
}
.job-comment-desc span strong:hover{
	text-decoration: underline;
}
.cp-title:hover{
	cursor: pointer;
	color: blue;
}
.apply-box .job-comment-body textarea{
	border-color: rgba(0,132,180,0.25);
	width: 100%;
	height: 60px;
	resize: none;
	border-radius: 4px;
	padding: 5px;
	color: #333;
}
.apply-box .job-comment-body textarea::scrollbar{
	display: none;
}
.apply-box .job-comment-body textarea::-webkit-scrollbar{
	display: none;
}
.apply-box .job-comment-body textarea:focus{
	outline: none;
}

.apply-button-group{
	margin-top: 5px;
}
.apply-button-group > div{
	float: right;
	height: 25px;
	font-size: 14px;
	padding-left:10px;
	padding-right:10px;
	background-color: #4e69a2;
	border-color: #435a8b #3c5488 #334c83;
	color: #fff;
	cursor: pointer;
}
.apply-button-group > div{
	line-height: 25px;
	border-radius: 2px;
}
.apply-social-button ul{
	text-align: right;
	padding: 0px;
}


.clearfix{
	zoom: 1;
}
.clearfix:after {
	clear: both;
	content: ".";
	display: block;
	font-size: 0;
	height: 0;
	line-height: 0;
	visibility: hidden;
}
.tickerStoryContent{
	overflow: hidden;
	padding: 0px 5px;
}


.job-comment-body-textarea-group{
	padding:1px;
	overflow: auto;
}
