
#jobs{
	margin-top: 20px;
}
.job{
	background: #fff;
	border-radius: 4px;
	box-shadow: 0 0 3px #333;
	margin-bottom: 20px;
	height: 300px;
}
#jobs {
	padding: 0px;
}
.job .job-content{
	padding: 10px 15px 10px 15px;
	overflow: auto;
}
.job .image{
	width: 100%;
	overflow: auto;
}
.job .image img{
	width: 100%;
	height: auto;
}
.company-title{
	font-family: 'Proxima Nova Bold';
}
.like-share ul, .job-social ul{
	list-style: none;
	display: inline-block;
	padding: 0px;
	width: 100%;
}
.like-share ul{
	position: absolute;
	bottom: 20px;
	right: 21px;
}
.like-share ul li , .job-social ul li{
	display: inline-block;
	float: right;
	margin-left: 10px;
}
.modal-content{
	overflow: auto;
}
.modal-title{
	font-family: 'Proxima Nova Bold';
}
.modal-body{
	padding: 0px;
}
.modal-image img{
	width: 100%;
}
.modal-job-body{
	padding: 15px;
}
.job-comment-body{
	overflow: hidden;
}
.job-comment-avatar{
	margin-right: 20px;
}
.job-comment-avatar img{
	width: 60px;
	border: 1px solid #ababab;
}
.cp-title:hover{
	cursor: pointer;
	color: blue;
}
.apply-box .job-comment-body input, .apply-box .job-comment-body textarea{
	width: 100%;
	border-bottom: none;
	border: 1px solid #ddd;
}
.apply-box .job-comment-body input{
	border-bottom: none;
	height: 25px;
	font-family: 'Proxima Nova Semi Bold'
}
.apply-box .job-comment-body input:focus, .apply-box .job-comment-body textarea:focus{
	outline: none;
}
.apply-box .job-comment-body textarea{
	height: 45px;
	resize: none;
}


.apply-button-group{
	margin-top: 10px;
}
.apply-button-group > div, .apply-button-group > select{
	float: right;
	height: 25px;
	font-size: 14px;
	padding-left:10px;
	padding-right:10px;
	background-color: #4e69a2;
	border-color: #435a8b #3c5488 #334c83;
	color: #fff;
	cursor: pointer;
}
.apply-button-group > div{
	line-height: 25px;
}
.apply-button-group > select{
	margin-right: 10px;
	background: #aba;
	color: #000;
}
.apply-social-button ul{
	text-align: right;
	padding: 0px;
}


#ticker{
	margin-top: 20px;
	border: 1px solid #ddd;
	border-radius: 4px;
	box-shadow: 0 0 3px #000;
	height: 600px;
	overflow: scroll;
}
#ticker::scrollbar{
	width: 2px;
}
#ticker::-webkit-scrollbar{
	width: 2px;
}
.tickerLikeShare ul{
	padding: 0px;
	margin: 0px;
}
.tickerLikeShare ul li{
	font-size: 11px;
	text-shadow: 0 0 1px #eee;
	color: #3b5998;
}
.tickerStoryBlock{
	padding: 5px 10px 10px 5px;
	border-bottom: 1px solid #ddd;
}

.clearfix{
	zoom: 1;
}
.clearfix:after {
	clear: both;
	content: ".";
	display: block;
	font-size: 0;
	height: 0;
	line-height: 0;
	visibility: hidden;
}
.tickerStoryContent{
	overflow: hidden;
	padding: 0px 5px;
}