#signup-forgot ul{
	float: right!important;
}
#signup-forgot ul li:hover{
	color: #cfcfcf;
}
#login-form > div{
	overflow: hidden;
}
.form-transition{
	overflow: hidden;
	max-height: 0px; 
}
#login-form > div h3{
	cursor: pointer;
	color: #333;
	font-size: 20px;
	margin: 0px;
	margin-bottom: 20px;
}

