@font-face{
	font-family: 'Proxima Nova';
	src: url('../../fonts/VNF-ProximaNovaCond-Regular.ttf');
}
@font-face{
	font-family: 'Proxima Nova Semi Bold';
	src: url('../../fonts/Mark Simonson - Proxima Nova Semibold.otf');
}
@font-face{
	font-family: 'Proxima Nova Bold';
	src: url('../../fonts/Mark Simonson - Proxima Nova Bold.otf');
}
body{
	/*font-family: 'Proxima Nova';*/
	font-family: arial!important;
	background: #EEEEEE;
}
@media(min-width:1500px){
	.container{
		width: 1400px;
	}
}
@media(min-width:1400px){
	.container{
		width: 1300px;
	}
}
.fa{
	cursor: pointer;
}
.fa-facebook{
	color: #133783;
}
.fa-google-plus{
	color: #DD4B39;
}
.fa-twitter{
	color: #6CADDF;
}
.fa-linkedin{
	color: #2C8CC0;
}
.bold{
	/*font-family: 'Proxima Nova Bold';*/
	font-family: arial;
	font-weight: bold;
}
.semibold{
	/*font-family: 'Proxima Nova Semi Bold';*/
	font-family: arial;
}
ul{
	list-style: none;
	display: inline-block;
	padding: 0px;
}
ul li{
	display: inline-block;
}
.dropdown-menu li{
	width: 100%;
}
.navbar-default .navbar-nav>.open>a, .navbar-default .navbar-nav>.open>a:hover, .navbar-default .navbar-nav>.open>a:focus {
	background: none;
}

/**************************************************************************************/
.scrollbar_none::scrollbar{
	display: none;
}
.scrollbar_none::-webkit-scrollbar{
	display: none;
}
.height_0{
	max-height: 0px;
	overflow: hidden;
}

.height_auto{
	overflow: auto;
	max-height: 10000px;
}
.transition_500ms{
	transition: all 0.5s;
	-webkit-transition: all 0.5s;
	-ms-transition: all 0.5s;
	-o-transition: all 0.5s;
	-moz-transition: all 0.5s;
}